<footer class="main-footer">
    <strong
      >Copyright &copy; 
      <a href="https://www.linkedin.com/in/ringin-restu-pati/">Ringin Restu Pati</a>.</strong
    >
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->